html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 20px;
}

input {
  font-family: 'Lucida Console', Monaco, monospace;
}

.container {
  width: 100%;
  text-align: center;
}

#react-root {
  height: 100%;
  width: 100%;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(85,85,85,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(85,85,85,0.4);
}

// Style placeholder text
::-webkit-input-placeholder {
   color: #444;
}

